.bi-check-circle-fill {
    color:green;
}
.bi-x-circle-fill {
    color:red;
}
.table-wrap {
    max-height: 40rem;
}
.py-3 {
    font-size: x-large;
}
.px-3 {
    font-size: larger;
    font-size: x-large;
}
.bi {
    font-size: 6vmin
}
.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.table thead th {
    position: sticky;
    top: 0px;
    background: #FFF;
    z-index: 999;
    box-shadow: inset 0 1px 0 rgb(217, 222, 226),
                inset 0 -1px 0 rgb(217, 222, 226),
                inset 0 -2px 0 #FFF;
}
.table thead {
    border-bottom: white 1px;
}

#index-button {
    text-align: center;
    margin-top: 5vh;
}