body {
background:#eee;
}
.mx-auto {
    text-align: center;
}
.heading {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.col-sm-9, .mb-0 {
    font-size: xx-large;
    text-align: center;
}
#rozmitacka, #hoblovani {
  width: 40%;
}
.details {
    margin-left: 1rem;
    width: 60%;
    float: left;
}
.detailsMO {
    margin-left: 1rem;
    width: 100%;
    float: left;
}
.btn-square-xl {
    width: 16vw !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 10vw !important;
    text-align: center;
    padding: 0px;
    font-size: 3.5vw !important;
    margin-bottom: 5px;
}
.btn-square-xxl {
    width: 32vw !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 10vw !important;
    text-align: center;
    padding: 0px;
    font-size: 4vw !important;
    margin-bottom: 5px;
}
.btn-square-l {
  width: 15vw !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 15vw !important;
  text-align: center;
  padding: 0px;
  font-size: 4vw !important;
  margin-bottom: 5px;
}
#buttons {
    margin: auto;
    text-align: center;
}
.navbar {
  font-size: larger;
}
.btn-square-m {
  width: 10vw !important;
  height: 7.5vw !important;
  font-size: 2vw !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin-bottom: 5px;
}
.btn-square-mx {
  width: 100% !important;
  height: 15vw !important;
  font-size: 3vw !important;
  margin-bottom: 5px;
  background-color: rgb(85, 0, 255);
}
.btn-p {
  background-color: rgb(85, 0, 255);
}
.btn-p:hover {
  background-color: rgba(85, 0, 255, 0.9);
}

.bi-check-circle-fill {
  color:green;
}
.bi-x-circle-fill {
  color:red;
}
.table-wrap {
  max-height: 40rem;
}
.py-3 {
  font-size: x-large;
}
.px-3 {
  font-size: larger;
  font-size: x-large;
}
.bi {
  font-size: 6vmin
}
.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.table thead th {
  position: sticky;
  top: 0px;
  background: #FFF;
  z-index: 999;
  box-shadow: inset 0 1px 0 rgb(217, 222, 226),
              inset 0 -1px 0 rgb(217, 222, 226),
              inset 0 -2px 0 #FFF;
}
.table thead {
  border-bottom: white 1px;
}

#index-button {
  text-align: center;
  margin-top: 5vh;
}