

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orders {
    padding: 20px;
    height: initial;
}

#hoblovani_heading {
    width: 50%;
    float: left;
    padding: 10px;
}
#rozmitacka_heading {
    width: 50%;
    float: left;
    padding: 10px;
}
.parent .heading {
    margin-left: 0;
}