.btn-square-xl {
    width: 16vw !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 16vw !important;
    text-align: center;
    padding: 0px;
    font-size: 3.5vw !important;
    margin-bottom: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orders {
    padding: 20px;
    height: initial;
}

#hoblovani_heading {
    width: 50%;
    float: left;
    padding: 10px;
}
#rozmitacka_heading {
    width: 50%;
    float: left;
    padding: 10px;
}
.parent .heading {
    margin-left: 0;
}