{% extends "orders/layout.html" %}
{% load custom_tags %}
{% load static %}


{% block head %}
<title>Hoblování info</title>
<script>
  var URLch = "{% url 'orders:check' %}"
</script>
<script type="text/javascript" src="{% static 'js/info.js' %}"></script>
{% endblock %}

{% block body %}
<h1 class="heading">Hoblování</h1>
<div class="details">
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-3">
            <h5 class="mb-0">Zákazník:</h5>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.zakaznik }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Skladový materiál:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.skladovy_material }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Požadovaný rozměr:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.pozadovany_rozmer }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Požadovaná délka:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.pozadovana_delka }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Poznámka:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.poznamka }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0" >Množství ks:</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <div id="c_done" style="display:inline-block"> {{ order.ks_hotovo }}</div>/{{ order.ks }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Kvalita:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.kvalita }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Balení (proklad):</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.baleni }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Impregnace:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {% if order.impregnace %}<i style="color:green" class="bi bi-check-circle-fill"></i>{% else %}<i style="color:red"class="bi bi-x-circle-fill"></i>{% endif %}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Kapování:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {% if order.kapovani %}<i style="color:green" class="bi bi-check-circle-fill"></i>{% else %}<i style="color:red"class="bi bi-x-circle-fill"></i>{% endif %}</div>
        </div>
        <hr>
<div class="row">
    <div class="col-sm-3">
        <h6 class="mb-0">Místo hoblování: </h6>
    </div>
    <div class="col-sm-9 text-secondary"> {{ order.misto_hoblovani }}</div>
    </div>
    <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Požadované datum výroby:</h6>
          </div>
          <div class="col-sm-9 text-secondary"> {{ order.pozadovane_datum_vyroby|date:'d.m.Y' }}</div>
        </div>
        <hr>
  <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Hotovo:</h6>
        </div>
        <div class="col-sm-9 text-secondary" id="hotovo"> {% if order.hotovo %}<i style="color:green" class="bi bi-check-circle-fill"></i>{% else %}<i style="color:red"class="bi bi-x-circle-fill"></i>{% endif %}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Dovést materiál:</h6>
    </div>
    <div class="col-sm-9 text-secondary" id="get_material"> {% if order.get_material %}<i style="color:green" class="bi bi-check-circle-fill"></i>{% else %}<i style="color:red"class="bi bi-x-circle-fill"></i>{% endif %}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Odvoz:</h6>
  </div>
  <div class="col-sm-9 text-secondary" id="get_odvoz"> {% if order.get_zbytek %}<i style="color:green" class="bi bi-check-circle-fill"></i>{% else %}<i style="color:red"class="bi bi-x-circle-fill"></i>{% endif %}</div>
</div>
<hr>
</div>

{% if not request.user|group:"Vozickar" %}
<div id="buttons">
      {% csrf_token %}
  <button type="button" id="decrease" class="btn btn-danger btn-square-xl" onclick="decrease(1)">-1</button>
  <button type="button" id="increase" class="btn btn-success btn-square-xl" onclick="increase(1)">+1</button>
  <button type="button" id="material" class="btn btn-primary btn-square-xl" onclick="material()">Více materiálu</button>
  <button type="button" id="odvoz" class="btn btn-secondary btn-square-xl" onclick="odvoz()">Odvoz materiálu</button>
  <button type="button" id="done" class="btn btn-warning btn-square-xxl" onclick="done()">Hotovo</button>
</div>
{% endif %}
{% endblock %}