{% extends "orders/layout.html" %}
{% load custom_tags %}
{% load static %}

{% block head %}
<title>Orders</title>
<!-- My own CSS -->
<link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}
<!-- .table-wrap changes the height of the table!!!-->
{% block body %}

{% if request.user|has_group:"Rozmitac" %}
<div class="container px-3 my-5 clearfix ">
    <!-- Rozmitacka table -->
    <div class="card">
        <div class="card-header">
            <h1>Rozmítačka</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive table-wrap">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="width: fit-content;">Zákazník</th>
                    <th class="text-center py-3 px-4" style="width: fit-content;">Požadované datum výroby</th>
                    <th class="text-center py-3 px-4" style="width: fit-content;">Hotovo</th>
                    <!--<th class="text-right py-3 px-4" style="width: fit-content;">Kontrola</th>-->
                    <th class="text-center py-3 px-4" style="width: fit-content;">Detaily</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in rozmitacka %}
                {% if not order.kontrola %}
                    <tr>
                    <td class="p-4">
                        <div class="media align-items-center">
                        <div class="media-body">
                            <a href="{% url 'orders:r_info' order.id %}" class="d-block text-dark">{{order.zakaznik}}</a>
                            <small>
                            <span class="text-muted">Kusů hotovo:</span>
                            {{order.ks_hotovo}}/{{order.ks}} &nbsp;
                            <span class="text-muted">Poznámka: </span> {{order.poznamka}} &nbsp;
                            <span class="text-muted">Rozměry: </span> {{order.pozadovany_rozmer}}
                            </small>
                        </div>
                        </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{order.pozadovane_datum_vyroby}}</td>
                    <td class="text-right font-weight-semibold align-middle p-4">
                        {% if order.hotovo %}
                        <i class="bi bi-check-circle-fill"></i>
                        {% else %}
                        <i class="bi bi-x-circle-fill"></i>
                        {% endif %}
                    </td>
                    <!--<td class="text-right font-weight-semibold align-middle p-4">
                        {% if order.kontrola %}
                        <i class="bi bi-check-circle-fill"></i>
                        {% else %}
                        <i class="bi bi-x-circle-fill"></i>
                        {% endif %}
                    </td>-->
                    <td class="text-right font-weight-semibold align-middle p-4"><a href="{% url 'orders:r_info' order.id %}"><i class="bi bi-arrow-right-circle-fill"></i></a></td>
                    </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- / Rozmitacka table -->
      </div>
  </div>
</div>
{% endif %}

{% if request.user|has_group:"Hoblovac" %}
<div class="container px-3 my-5 clearfix">
    <!-- Hoblovani table -->
    <div class="card">
        <div class="card-header">
            <h1>Hoblování</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive table-wrap">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="width: fit-content;">Zákazník</th>
                    <th class="text-center py-3 px-4" style="width: fit-content;">Požadované datum výroby</th>
                    <th class="text-center py-3 px-4" style="width: fit-content;">Hotovo</th>
                    <!--<th class="text-right py-3 px-4" style="width: fit-content;">Kontrola</th>-->
                    <th class="text-center py-3 px-4" style="width: fit-content;">Detaily</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in hoblovani %}
                {% if not order.kontrola %}
                    <tr>
                    <td class="p-4">
                        <div class="media align-items-center">
                        <div class="media-body">
                            <a href="{% url 'orders:h_info' order.id %}" class="d-block text-dark">{{order.zakaznik}}</a>
                            <small>
                            <span class="text-muted">Kusů hotovo:</span>
                            {{order.ks_hotovo}}/{{order.ks}} &nbsp;
                            <span class="text-muted">Poznámka: </span> {{order.poznamka}} &nbsp;
                            <span class="text-muted">Rozměry: </span> {{order.pozadovany_rozmer}}
                            </small>
                        </div> 
                        </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{order.pozadovane_datum_vyroby}}</td>
                    <td class="text-right font-weight-semibold align-middle p-4">
                        {% if order.hotovo %}
                        <i class="bi bi-check-circle-fill"></i>
                        {% else %}
                        <i class="bi bi-x-circle-fill"></i>
                        {% endif %}
                    </td>
                    <!--<td class="text-right font-weight-semibold align-middle p-4">
                        {% if order.kontrola %}
                        <i class="bi bi-check-circle-fill"></i>
                        {% else %}
                        <i class="bi bi-x-circle-fill"></i>
                        {% endif %}
                    </td>-->
                    <td class="text-right font-weight-semibold align-middle p-4"><a href="{% url 'orders:h_info' order.id %}"><i class="bi bi-arrow-right-circle-fill"></i></a></td>
                    </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- / Hoblovani table -->
      </div>
  </div>
</div>
{% endif %}
{% endblock %}
