{% load custom_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS and JS -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Add Ajax -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <!-- My own CSS -->
        <link rel="stylesheet" href="{% static 'css/layout.css'%}">
        <!-- My own JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <script>
          var URLgo = "{% url 'orders:getOdvoz' %}";
        </script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
      <!-- changed navbar-expand-lg to navbar-expand -->
        <nav class="navbar sticky-top navbar-expand navbar-light bg-light" style="padding-left:1vw">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand" href="">{{ request.user.username }}</span>
          
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'orders:index' %}">Domů</a>
                </li> 
                {% if user.is_authenticated %}
                {% if request.user|has_group:"Rozmitac" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rozmítačka
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for order in rozmitacka|slice:":10" %}
                        <a class="dropdown-item" href="{% url 'orders:r_info' order.id %}">{{ order.zakaznik }}
                          {% if order.modrin %}
                          <p class="fa fa-tree" style="color: blue;"></p>
                          {% endif %}
                          - {{ order.pozadovane_datum_vyroby }}</a>
                        {% endfor %}
                    </div>
                  </li>
                  {% endif %}
                  {% if request.user|has_group:"Hoblovac" %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hoblování
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for order in hoblovani|slice:":10" %}
                        <a class="dropdown-item" href="{% url 'orders:h_info' order.id %}">{{ order.zakaznik }}
                          {% if order.modrin %}
                          <p class="fa fa-tree" style="color: blue;"></p>
                          {% endif %}
                          - {{ order.pozadovane_datum_vyroby }}</a>
                        {% endfor %}
                    </div>
                  </li>
                  {% endif %}
                  {% if request.user|has_group:"Vozickar" %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders:odvoz' %}">Dovoz a Odvoz</a>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-danger" onclick="attention = false; document.body.style.background = '#eee'; localStorage.setItem('attention', 'false')">Vidím</button>
                  </li>
                  {% endif %}
                  
                  {% if request.user.is_staff %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                {% endif %}
              </ul>
              <ul class="navbar-nav ms-auto" style="margin-right: 10px">
                <li class="nav-item">
                    <a href="{% url 'orders:logout' %}" class="nav-link">Odhlásit se</a>
                  </li>
              </ul>
              <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>-->
          </nav>

          <!--{% if user.is_superuser %}
          <div id="index-button">
            <button type="button" id="refresh" onClick="window.location.reload()" class="btn btn-primary btn-square-xxl" >Refresh</button>
          </div>
          {% endif %}-->
        {% if good %}
        <div class="row">
        <div class="mx-auto">
            <div class="alert alert-success div-style alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
        
        {% elif bad %}
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-danger div-style alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
        {% if request.user|has_group:"Vozickar" %}
        <div id="buttons">
          <button type="button" class="btn btn-danger btn-square-xl" style="margin-top: 5vh; margin-right: 2vw;" onclick="attention = false; document.body.style.background = '#eee'; localStorage.setItem('attention', 'false')">Vidím</button>
          {% block button %}
          {% endblock %}
        </div>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
<script>
  // set all jinja2 variables to use in all functions
  let counter = {{ order.ks_hotovo }};
  let baliky_celkem = {{ order.baliky_celkem }};
  let last_balik = {{ order.last_balik }}
  var id = {{ order.id }};
  var table = "{{ table }}";
  var URLd = "{% url 'orders:done' %}";
  var ks = {{ order.ks }};
  var URLno = "{% url 'orders:needOdvoz' %}";
  var URLc = "{% url 'orders:count' %}";
  var URLcb = "{% url 'orders:countBaliky' %}";
  var URLnm = "{% url 'orders:needMaterial' %}";
  var URLo = "{% url 'orders:odpad' %}";
</script>
<script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
{% if request.user|has_group:"Vozickar" %}
<script>
  $(document).ready(function(){
    var c_visible = localStorage.getItem("c_visible");
    var flash;
    if (localStorage.getItem("attention") == "true") {
      attention = true;
    } else if (localStorage.getItem("attention") == "false") {
      attention = false;
    };
    // create a reccuring function
    setInterval(function(){
        // get the orders, that need to get rid of material
        $.ajax({
            type:'GET',
            url: URLgo,
            success: function(response){
                // set the variables to the results from the GET method
                r_odvoz = response.r_odvoz
                h_odvoz  = response.h_odvoz
                r_dovoz = response.r_dovoz
                h_dovoz = response.h_dovoz
                r_odpad = response.r_odpad
                h_odpad = response.h_odpad
                visible = r_odvoz.length + h_odvoz.length + r_dovoz.length + h_dovoz.length + r_odpad.length + h_odpad.length
                // check if the visible and c_visible arrays are the same and if the arrays are not empty
                if (visible != c_visible) {
                        attention = true;
                        localStorage.setItem("c_visible", visible.toString())
                        localStorage.setItem("attention", "true")
                }
                // if a table has something inside it, flash the screen
                if (r_odvoz.length != 0 || h_odvoz.length != 0 || r_dovoz.length != 0 || h_dovoz.length != 0 || r_odpad.length != 0 || h_odpad.length != 0) {
                    if (attention == true) {
                        if (flash == true) {
                            document.body.style.background = "#FF0000"
                            flash = !flash;
                        }else {
                            document.body.style.background = "#eee"
                            flash = !flash;
                        }
                    }
                }
                c_visible = visible;
            }
        });
    },500);
});
</script>
{% endif %}