{% extends "orders/layout.html" %}
{% load custom_tags %}
{% load static %}

{% block head %}
<title>Login</title>
<!-- My own CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
<div class="row">
	<aside class="col-sm-4 mx-auto">

<div class="card">
    {% if form.errors %}
    <p>Omlouváme se, vaše uživatelské jméno a heslo se neshodují. Prosím zkuste to znovu.</p>
  {% endif %}
<article class="card-body">
<!--<a href="" class="float-right btn btn-outline-primary">Sign up</a> -->
<h4 class="card-title mb-4 mt-1">Přihlásit se</h4>
<form action="{% url 'orders:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    	<label>Vaše uživatelské jméno:</label>
        <input name="username" class="form-control" placeholder="Uživatelské jméno" type="Username">
    </div> <!-- form-group// -->
    <div class="form-group">
    	<label>Vaše heslo:</label>
        <input name="password" class="form-control" placeholder="********" type="password">
    </div> <!-- form-group// --> 
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Přihlásit se  </button>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->



{% endblock %}
